<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Quiz App(Counter:{{ index + 1 }}/10)</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link disabled" href="#"></a>
      </div>
    </div>
  </nav>
</div>

<div class="container d-flex">
  <div class="jumbotron justify-content-center">
    <h1 class="display-4">{{ Question }}</h1>
    <h1 id="quiz_intro">
      So you think you know everything, heh ? well, click next to start the Quiz
    </h1>
    <hr class="my-4" />
    <p id="correct_ans" class="bg bg-primary"></p>
    <div *ngIf="answers">
      <div class="list-group" *ngFor="let ans of answers">
        <button
          type="button"
          style="cursor: pointer;"
          class="list-group-item list-group-item-action"
          (click)="getScore(ans)"
          [ngClass]="{
            incorect: value == ans && value !== correct_ans
          }"
        >
          {{ ans }}
        </button>
      </div>
    </div>

    <p class="lead text-center">
      <span *ngIf="index < 10">
        <button class="btn btn-primary btn-lg" (click)="increase()">
          Next
        </button></span
      >
    </p>
  </div>
</div>

<style>
  .incorect {
    color: red;
  }

  .correct {
    color: green;
  }
</style>
